/*
applying style
*/
header {
    background-color: aquamarine;
    height: 100px;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}
nav {
    width:30%;
    background-color:bisque;
    height: 200px;
}
nav ul {
    list-style-type: none;
}